*{
  margin: 0;
}
.app{
  background-color: #fafafa;
  height: 100%;
  
}
.app_header{
  background-color: white;
  /* padding: 2px; */
  padding-bottom: -2px;
  border-bottom: 1px solid lightgray;
}

.app_headerImage{
  object-fit: contain;
  width: 140px;
  height: 60px;
  margin-bottom: 0px;
  padding: -1px;
}